.DS_Store
._*
node_modules/
nvme0n1-*.bin
sector0-*.img

platforms/*/backups/*
platforms/*/logs/*
platforms/*/reports/*

!platforms/*/backups/.gitkeep
!platforms/*/logs/.gitkeep
!platforms/*/reports/.gitkeep
dist/
